* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
} 
.div__barList{
  min-width: 470px;
  height: 100vh;
  overflow: hidden;
}
.barLists {
  height: 700px;
  margin: 56px 20px 0 28px;
  overflow: auto;
  padding-right: 20px;
}

