* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box; }

.barLists {
  height: 534px;
  margin: 183px 0 0 37px;
  min-width: 30%;
  overflow: auto; }
  .barLists .barLists_element {
    background-color: #c6d6bc; }
