.divBtb {
  text-align: center;
}

.btnReport {
  color:#67cf9b;
  background-color: #222222;
  width: 186px;
  height: 45px;
  border-radius: 17px;
  font-size: 14px;
  margin-top: 14px;
}
.btnReport:focus {
  outline: none;
  border-top: 0;
  box-shadow: 0;
}

.fa-clipboard-list {
  margin-right: 16px;
}