.establishments {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  margin-right: 28px; }

.imgDetails {
  width: 190px;
  height: 190px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.establishments__div__details {
  display: flex;
  margin-top: 28px;
  border: 1px solid #67cf9b;
  background-color: #67cf9b; }

.details__data {
  background-color: #67cf9b;
  height: 190px;
  max-width: 462px;
  text-align: left;
  padding: 17px;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

.data__title {
  font-family: "Expletus Sans", cursive;
  font-size: 24px;
  color: #ffffff;
  line-height: 26px;
  max-height: 80px;
  overflow: hidden;
  margin-bottom: 6px; }

.hiddenDetails {
  display: none; }

.data__div__direction {
  display: flex; }

.fa-map-marker-alt {
  color: #ffffff;
  font-size: 22px; }

.direction__div {
  margin-left: 21px;
  font-family: "Open Sans", sans-serif; }

.data {
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: 300; }

.data__direction {
  font-size: 22px;
  margin-bottom: 4px; }

.data__meters {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: italic; }

.data__affiliates {
  font-family: "Open Sans", sans-serif;
  font-size: 18px; }

.fa-user-friends {
  margin-right: 12px;
  color: #ffffff;
  font-size: 22px; }
