* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.itemBar {
  width: 400px;
  height: 140px;
  margin-bottom: 10px;
  text-align: left;
  display: flex;
  border: solid 3px transparent;
  cursor: pointer; }
  .itemBar.itemBar--selected {
    border-color: #67cf9b; }
  .itemBar .itemBar__image {
    display: inline-block;
    width: 134px;
    height: 134px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }
  .itemBar .itemBar__info {
    height: 100%;
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    background-color: rgba(9, 9, 9, 0.2);
    padding: 15px 0 6px 10px; }
  .itemBar .itemBar__info__name {
    color: black;
    font-size: 18px;
    font-family: 'Expletus Sans';
    font-weight: bold; }
  .itemBar .itemBar__info__direction {
    color: #343434;
    font-family: 'OpenSans'; }
  .itemBar .item__info__visits {
    display: flex; }
    .itemBar .item__info__visits .fa-user-friends {
      color: #67cf9b; }
    .itemBar .item__info__visits .itemBar__info__visits__number {
      font-size: 14px;
      color: black;
      font-family: 'OpenSans';
      margin-bottom: 0; }
