* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
} 

.itemBar {
  width: 400px;
  height: 140px;
  background-color: #9d9d9d;
  margin-bottom: 10px;
  text-align: left;
  display: flex;
  border: solid 3px #67cf9b;

  .itemBar__image {
    display: inline-block;
    width: 134px;
    height: 133px;
    position: relative;
    top: 1px;
  } 

  .itemBar__info {
    height: 100%;
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 15px 0 6px 10px;
  }

  .itemBar__info__name {
    color: black;
    font-size: 18px;
    font-family: 'Expletus Sans';
    font-weight: bold;
    margin-bottom: 12px;;
    }

  .itemBar__info__direction {
    color: #343434;
    font-family: 'OpenSans';
    margin-bottom: 30px;
  }

  .item__info__visits {
    display: flex;

    .fa-user-friends {
      color: #67cf9b;
    }

    .itemBar__info__visits__number {
      font-size: 14px;
      color: black;
      padding-left: 10px;
      font-family: 'OpenSans';
      margin-bottom: 0;

    }
  }  
}




