.login-page{
display: flex;
flex-direction: row;
height:100vh;
}
.half-logo{
    display: flex;
    flex-direction: column;
    background-color: #222222;
    width: 50%;
}
.logo-controller{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.half-logo--welcome{
    color: #67cf9b;
    display: flex;
    margin-left: 189px;
    margin-bottom: 0px;
}
.half-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.form-inputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 442px;
}
.form-button-send{
    background-color: #67cf9b;
    width: 325px;
  height: 54px;
  border-radius: 17.1px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: bold;
}
.text-controller{
    font-size: 70px;
    color: #ffffff;
    font-family: 'Expletus Sans', cursive;
}
.text-2{
    font-size: 100px;
    color: #67cf9b;
}
.text-arrow{
    color: #bababa;
}
.form-input{
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-bottom-color: #67cf9b;
    width: 442px;
}