.login-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.half-logo {
  display: flex;
  flex-direction: column;
  background-color: #222222;
  width: 50%;
  padding-top: 20px;

  .half-logo--container {
    margin-top: 20%;
  }
  
  .half-logo--welcome {
    color: #67cf9b;
    display: flex;
    margin-left: 175px;
    margin-bottom: -10px;
    font-family: "Expletus Sans", cursive;
    margin-bottom: -26px;
    font-size: 24px;
  }

  .text-controller {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: #ffffff;
    margin-top: 0;
    height: 98px;
    font-family: "Expletus Sans", cursive;
    margin-bottom: 0;
    font-weight: bold;
    height: 128px;
    padding: 0;
  }

  .text-2 {
    font-size: 100px;
    color: #67cf9b;
    padding-bottom: 13px;
  }

  .text-arrow {
    color: #bababa;
    text-align: right;
    padding-right: 111px;
    margin-top: 24px;
  }

  .access-arrow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: #ffffff;
    margin-left: 4px;
  }
}

.half-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 442px;
  
}
input:focus { 
  outline: none;
  border-top:0;
  box-shadow: 0;
}

.label-form {
  margin: 10px 10px 16px 10px;
  font-size: 17px;
}

.form-input {
  border-right: 0;
  border-top: 0;
  border-left: 0;
  border-bottom-color: #67cf9b;
  width: 442px;
  margin: 0 10px;
}

.form-input--top {
  margin-bottom: 20px;
}

.form-button-send {
  background-color: #67cf9b;
  width: 325px;
  height: 54px;
  border-radius: 23px;
  border-style: none;
  font-family: sans-serif;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
}

.form-password {
  margin: 20px 0px 61px 0px;
  font-size: 14px;
}

.form-registry {
  margin-top: 62px;
  font-size: 14px;
}

.registry-text {
  font-weight: bold;
  line-height: 30px;
  border-bottom: 3px solid #67cf9b;
  padding-bottom: 3px;
}

.registry-arrow {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #67cf9b;
  margin-left: 5px;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
  width: 350px;
  color:red;
}

.error {
  border-right: 0;
  border-top: 0;
  border-left: 0;
  border-bottom-color: red;
  width: 442px;
  margin: 0 10px;
}

.errorEmail {
  margin-bottom: 20px;
  border-right: 0;
  border-top: 0;
  border-left: 0;
  border-bottom-color: red;
  width: 442px;
  margin: 0 10px;
}