
.logout{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 30px;
  margin-right: 43px;
  margin-top: 26px;
}
.logoutName{
  font-size: 12px;
}
.logoutIcon{
  justify-content: center;
  margin-left: 13px;
}
.fa-sign-out-alt{
  align-self: center;
  font-size: 17px;
}