.logout {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 30px;
  margin-top: 26px; }

.logout__name {
  font-size: 20px;
  padding: 10px;
  margin-top: 10px; }

.logout__icon {
  margin-left: 10px; }

.fa-sign-out-alt {
  align-self: center;
  font-size: 17px; }
