.establishments {
  display: flex;
  margin-top: 103px; }

.sectionList {
  width: 50vw;
  background: red; }

.sectionDetails {
  width: 50vw;
  margin-right: 28px; }

.exampleMap {
  width: 692px;
  height: 355px;
  border: 1px solid #67cf9b; }

.exampleDirection {
  width: 692px;
  height: 231px;
  margin-top: 28px;
  border: 1px solid #67cf9b; }
