.establishments {
  display: flex;
  flex-direction: column;
  margin-top: 110px; }

.sectionDetails {
  width: 400px;
  margin-left: 28px;
  margin-top: 88px; }

.exampleMap {
  width: 400px;
  height: 355px;
  border: 1px solid #67cf9b;
  margin: 0 auto; }

.exampleDirection {
  width: 400px;
  height: 231px;
  padding-top: 28px;
  border: 1px solid #67cf9b;
  margin: 0 auto; }
