.establishments {
  display: flex;
  margin-top: 110px; }

.sectionDetails {
  width: 50%;
  margin-left: 28px;
  margin-top: 88px; }

.exampleMap {
  width: 692px;
  height: 355px;
  border: 1px solid #67cf9b;
  margin: 0 auto; }

.exampleDirection {
  width: 692px;
  height: 231px;
  padding-top: 28px;
  border: 1px solid #67cf9b;
  margin: 0 auto; }
