.containerMenu {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }

.menuPage {
  width: 223px;
  height: 100%;
  background-color: #222222; }

.text-controller {
  color: #ffffff;
  font-family: 'Expletus Sans', cursive;
  padding-top: 65px;
  font-size: 30px;
  width: bold; }

.text-2 {
  color: #67cf9b;
  font-size: 45px; }

.buttonList {
  display: flex;
  align-items: center;
  width: 199px;
  height: 39px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: bold;
  padding-left: 17px;
  margin: 15px 0 0 24px;
  color: white;
  text-align: left;
  justify-content: flex-start; }
  .buttonList:hover {
    background-color: #4e5c55;
    cursor: pointer; }
  .buttonList.buttonSelection {
    background-color: #67cf9b; }

.logoText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #ffffff;
  margin-top: 0;
  height: 98px;
  font-family: 'Expletus Sans', cursive;
  margin-bottom: 0;
  font-weight: bold; }

.logoNumber {
  font-size: 45px;
  color: #67cf9b;
  padding-bottom: 13px; }
