.containerMenu {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 200px; }

@media (max-width: 1024px) {
  .containerMenu {
    width: 95px; }
  .menuPage {
    width: 100px; }
  .logoNumber {
    font-size: 25px;
    padding-bottom: 4px; }
  .buttonList {
    font-size: 13px; } }

.buttonSelection {
  background-color: #67cf9b; }

.button1 {
  background-color: #67cf9b; }

.menuPage {
  height: 100%;
  background-color: #222222; }

.text-controller {
  color: #ffffff;
  font-family: 'Expletus Sans', cursive;
  padding-top: 65px;
  font-size: 30px;
  font-weight: bold; }

.text-2 {
  color: #67cf9b;
  font-size: 45px; }

.buttonList {
  display: flex;
  align-items: center;
  height: 39px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: bold;
  padding-left: 17px;
  margin: 15px 0 0 20px;
  color: white;
  text-align: left;
  justify-content: flex-start;
  width: 90%; }
  .buttonList:hover {
    background-color: #4e5c55;
    cursor: pointer; }
  .buttonList.buttonSelection {
    background-color: #67cf9b; }

.logoText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #ffffff;
  margin-top: 0;
  height: 98px;
  font-family: 'Expletus Sans', cursive;
  margin-bottom: 0;
  font-weight: bold; }

.logoNumber {
  font-size: 45px;
  color: #67cf9b;
  padding-bottom: 13px; }
