.App {
  
}
.establishmentDetails{
  display: flex;
}
.sectionList{
  width: 50vw;
  height: 500px;
  background: red;
}
.sectionDetails{
  width: 50vw;
  margin-right: 28px;
}
.exampleMap{
  width: 692px;
  height: 355px;
  margin-top: 103px;
  border: 1px solid #67cf9b;
}
.exampleDirection{
  width: 692px;
  height: 231px;
  margin-top: 28px;
  border: 1px solid #67cf9b;
}