.establishmentDetails {
  display: flex; }

.sectionList {
  width: 50vw;
  background: red;
  height: 500px; }

.sectionDetails {
  width: 50vw; }

.exampleMap {
  width: 692px;
  height: 355px;
  margin-top: 103px;
  border: 1px solid #67cf9b; }

.exampleDirection {
  width: 692px;
  height: 231px;
  margin-top: 28px;
  border: 1px solid #67cf9b; }
