<<<<<<< HEAD
=======
.App {
  text-align: center; }

.menuPage {
  width: 223px;
  height: 100vh;
  background-color: #222222; }

.text-controller {
  color: #ffffff;
  font-family: 'Expletus Sans', cursive;
  padding-top: 65px;
  font-size: 30px;
  width: bold; }

.text-2 {
  color: #67cf9b;
  font-size: 45px; }
>>>>>>> 37bf8bf9bd5b38c5a6df987f61347cf17c20a67a
